{% extends 'base.html' %}


{% block content %}
    <div class="card">
        <div class="row g-0">
            <div class="col-md-4">
                {% if detail.photo %}
                    <img class="mr-3" src="{{ detail.photo.url }}" width="400" height="250" alt="">
                {% else %}
                    <img class="mr-3" src="../../../images/photos/2021/05/23/def.jpg" width="400" height="250" alt="">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ detail.title }}</h5>
                    <p class="card-text">{{ detail.desc }}</p>
                    {% if detail.smoke %}
                        <p class="card-text" style="color:chartreuse">В номере курить запрещено</p>
                    {% else %}
                        <p class="card-text" style="color: crimson">В номере курить разрешено</p>
                    {% endif %}
                    <p class="card-text">Количество спальных мест: {{ detail.num_people }}. Максимальное
                        количество спальных мест может быть увеличено до: {{ detail.num_people|add:2 }}</p>
                    <p class="card-text">Площадь номера: {{ detail.size }} м2</p>
                    <p class="card-text">Стоимость номера за сутки составит: {{ detail.price }} $</p>
                    {# <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
                    <hr>
                    <h6 class="card-title">Дополнительные услуги и удобства</h6>
                    {% for item in facilitie %}
                        <p class="card-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
                            </svg>
                            {{ item }}
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>


{% endblock %}

