{% extends 'base.html' %}


{% block content %}
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for room in rooms %}
            <div class="col">

                <div class="card h-100" style="width: 18rem;">
                    <div class="card-body" style="height: 90px">
                        <h5 class="card-title" style="height: 3rem;">{{ room.title }}</h5>
                    </div>
                    {% if room.photo %}
                        <img src="{{ room.photo.url }}" class="card-img-top" alt="..." width="300" height="190">
                    {% else %}
                        <img src="../../../images/photos/2021/05/23/def.jpg" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">{{ room.desc|truncatewords:4 }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Стоимость {{ room.price }}$ за сутки</li>
                        <li class="list-group-item">Вмещает {{ room.num_people }} чел.</li>
                        {% if room.smoke %}
                            <li class="list-group-item">Номер для не курящих</li>
                        {% else %}
                            <li class="list-group-item"><span style="color: crimson">Номер для курящих</span>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="card-body">
                        <a href="{% url "booking" room.pk %}" class="card-link">Заказать номер</a>
                        <a href={{ room.get_absolute_url }} class="card-link">Описание</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
