<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="col-md-2">
                <a class="navbar-brand" href="#">Web Sergei Lubeshko</a>
            </div>
            <div class="col-md-10">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-md-2 col-sm-12">
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aperiam, blanditiis consequuntur
                distinctio fugit ipsum non pariatur perferendis perspiciatis porro, quaerat quam repudiandae sequi sint
                vero voluptatum? Dolorem, ipsam!
            </div>
        </div>
        <div class="col-md-10 col-sm-12">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                {% for room in rooms %}
                    <div class="col">

                        <div class="card h-100" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title" style="height: 3rem;">{{ room.title }}</h5>
                            </div>
                            {% if room.photo %}
                                <img src="{{ room.photo.url }}" class="card-img-top" alt="...">
                            {% else %}
                                <img src="../../../images/photos/2021/05/23/def.jpg" class="card-img-top" alt="...">
                            {% endif %}
                            <div class="card-body">
                                <p class="card-text">{{room.desc|truncatewords:4}}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Стоимость {{ room.price }}$ за сутки</li>
                                <li class="list-group-item">Вмещает {{ room.num_people }} чел.</li>
                                {% if room.smoke %}
                                    <li class="list-group-item">Номер для не курящих</li>
                                {% else %}
                                    <li class="list-group-item"><span style="color: crimson">Номер для курящих</span>
                                    </li>
                                {% endif %}
                            </ul>
                            <div class="card-body">
                                <a href="#" class="card-link">Card link</a>
                                <a href={{ room.get_absolute_url }} class="card-link">Описание</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>