{% extends "base.html" %}


{% block content %}

    <form action="{% url 'service' %}" method="post">
        {% csrf_token %}
        {#        {{ form.as_p }}#}
        {% for service in services %}

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default" style="width: 20%"
                      name="{{ service.title }}">{{ service.title }}</span>
                <input class="input-group-text" type="number" name="{{ service.id }}" min="1" max="5" value="5" required="True" style="margin-left: 20px">
                {#                {{ form.mark }}#}
            </div>


        {% endfor %}
        <button type="submit" class="btn btn-outline-primary">Отправить</button>

        <hr>
{#        {% include 'inc/_service.html' with num_people = num_people %}#}
        <h3>Средняя оценка отеля: {{avg_score|floatformat}}</h3>
        <p><i>Количество гостей, которые оценили наш сервис: </i> {{ num_people }}</p>
        <ul>
        {% for k, v in dict_avg_score.items %}
            <li>Сервис <b>{{k}}</b> cредняя оценка: {{ v }}</li>
        {% endfor %}
        </ul>


    </form>
{% endblock %}