<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Web Lubeshko {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>


{% include 'inc/_inc.html' %}

<div class="container-fluid my-5">
    <div class="row">
        <div class="col-md-2 col-sm-12">
            <h1><span class="badge bg-secondary" style="background-color: cornflowerblue!important;">{{ score }}</span></h1>
            {% block sidebar %}
                <h4>İleribaşı Mevkii Belek</h4>
                <h3>TURKEY, ANTALYA</h3>
                <div>Телефон: (+90)242/7102000</div>
                <div>Факс: (+90)242/7101919</div>
                <h3>О НАС</h3>
                <p>Rixos Premium Belek утопает в зелени сосен и ореховых деревьев Средиземноморья. Бесконечные песчаные
                    пляжи Белека и потрясающие природные пейзажи Турецкой Ривьеры создают место, где хочется остаться
                    навсегда. Rixos Premium Belek является центром исторического, культурного и природного богатства: от
                    Таврских гор до древних руин и национальных парков.</p>


            {% endblock %}
        </div>


        <div class="col-md-10 col-sm-12">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "error" %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}

                {% endfor %}
            {% endif %}
            {% block content %}
                CONTENT
            {% endblock %}

        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>